
.hero_background {
  background: url("../assets/Hero-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  width: 100vw;
  line-height: 200%;
  position: relative;
  z-index: 1;
}

.hero_description{
  margin-top: 200px;
  color: #1e1e1e !important;
}

.highlighter {
  position: relative;
}

.highlighter::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 105%;
  height: 50%;
  background-color: var(--primary-color);
  z-index: -1;
}

.hero_button, .about-us-wrapper button {
  border: 2px solid var(--primary-color);
  background-color: #E79A4E;
  text-transform: uppercase;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 5rem;
  transition: background-color .2s ease-out;
}

.hero_button:hover, .about-us-wrapper button:hover{
  background-color: #ffffff;
  color: #313131;
  border: 2px solid  #E79A4E;
}

.arrow-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


@media screen and (max-width: 733px) {
  .hero_description {
      margin-top: 100px;
}
}

@media screen and (max-width: 320px) {
  .hero_button {
     position: absolute;
     left: 80px;
}
}

@media screen and (max-width: 320px)   {
  .highlighter01 {
      left: 50px;
      margin-top: 45px;
      padding-left: 100px;
      height: 20px;
  }
}


/* 

----- OUR SERVICES SECTION -----

*/

/* .container {
  font-family: 'Montserrat', sans-serif;
} */
.container h2{
  text-transform: uppercase;
  font-weight: 600;
}

.services-wrapper {
  position: relative;
  margin-bottom: 6rem;
}

.services-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 3px;
  background: #E79A4E;
  height: 120%;
}

.item {
  position: relative;
  /* margin-bottom: 2.75rem; */
}

.item:not(:last-child){
  margin-bottom: 2.75rem;
}

.item img {
  width: 100%;
}

.item-name {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: clamp(.8rem, 2.5vw, 1rem);
  transform: translateX(-50%);
  width: 200px;
  font-weight: 700;
  text-align: center;
}

.item-name::after {
  content: "";
  position: absolute;
  left: 0;
  top: .75em;
  height: 2em;
  width: 100%;
  background: #E79A4E;
  z-index: -1;
}

/* 

------- CONSULTATION ------

*/
.consultation {
  background-image: url('../assets/consultation_bg.png');
  padding-block: 5rem;
  border-radius: 2.75rem;
}

.consultation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.consultation-wrapper > * {
  flex: 1;
}

.consultation-text {
  color: white;
}

.consultation-text h2 {
  /* text-transform: capitalize !important; */
  margin-bottom: 1.75rem;
  font-size: 1.75rem;
  font-weight: 700;
}

.consultation-text span {
  position: relative;
  text-transform: uppercase;
  z-index: 2;
  /* text-shadow: 5px 5px 0px #41549b38; */
}

/* .consultation-text span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 101%;
  height: 50%;
  background-color: var(--complementary-color);
  z-index: -1;
} */

.consultation-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.consultation-logo img {
  width: 190px;
  height: 190px;
  aspect-ratio: 1;
}

.consultation-logo button {
  background-color: var(--complementary-color);
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
}

/* 

  ---- ABOUT US ----

*/

.about {
  background-image: url('../assets/about_us_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.about-us-wrapper {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.about-us-wrapper p {
  text-align: center;
  max-width: 600px;
}


/* 

  ---- BLOG POST ---

*/
.blogpost {
  background-color: var(--complementary-color);
  color: white;
  border-radius: 2.75rem;
  padding-bottom: 5rem;
}

.blogpost-wrapper h2{
  text-align: center;
  padding-block: 3.75rem;
}

.blogpost-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  gap: 2rem;

}

.blogpost-cards__item {
  position: relative;
  width: min(100%,350px);
  height: 350px;
  aspect-ratio: 1;
  border-radius: 1rem;
  background-color: var(--primary-color);
}

.blogpost-cards__item-description {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 2rem;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}

.blogpost-cards__item-description a {
  text-transform: uppercase;
  text-decoration: underline;
}


/* 

----- FOOTER -----

*/

footer {
  margin-top: 5rem;
  padding: 1rem;
}

footer h4 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer-content {
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-content__column > ul {
  color: var(--grayish-color);
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.footer-content__column > ul li {
  font-weight: 600;
}

.footer-content__column:last-child ul li a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer-content__column:last-child ul li a img {
  width: 18px;
}

.footer-socials {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.footer-socials p {
  display: flex;
  gap: .75rem;
  justify-content: center;
  align-items: center;
}

.footer-socials__copyright span {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 600;
}

.footer-socials__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


@media screen and (min-width: 640px) {
  /* CONSULTATION */
  .consultation-wrapper{
      flex-direction: row;
  }

  /* BLOGPOST */
  .blogpost-cards {
  flex-direction: row;
  justify-content: center;
  align-items: center;

  }

  /* FOOTER */
  .footer-content {
      flex-direction: row;
  }

  .footer-content > * {
      flex: 1;
  }

  .footer-socials {
      flex-direction: row;

  }
}

@media screen and (min-width: 768px) {
  /* 

----- OUR SERVICES SECTION -----

*/
  .services-wrapper {
      max-width: 790px;
      margin-inline: auto ;
  }

  .item-name {
      bottom: -2rem;
  }

  .services-wrapper ul {
      display: flex;
      flex-direction: column;
  }

  .services-wrapper ul li {
      width: 50%;
  }

  .services-wrapper ul li:nth-child(odd) {
      align-self: flex-end;
      padding-left: 2.5rem;
      position: relative;
  }

  .services-wrapper ul li:nth-child(even) {
      align-self: flex-start;
      padding-right: 2.5rem;
      position: relative;
  }

  .services-wrapper ul li:nth-child(odd)::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 120px;
      height: 3px;
      background-color: #E79A4E;
      z-index: -1;
  }

  .services-wrapper ul li:nth-child(even)::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 120px;
      height: 3px;
      background-color: #E79A4E;
      z-index: -1;
  }
}
