@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #E79A4E;
    --complementary-color: #41549B;
    --grayish-color: #6a7c92;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    color: #1e1e1e;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
}

/* .container { 
    border: 5px solid red;
} */

.navbar {
    background: white;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.navbar ul li {
    font-weight: 600;
}

.navbar ul li a:hover {
    color: var(--primary-color) !important;
}

.active {
    color: var(--primary-color) !important;
}


/* 

----- FOOTER -----

*/

footer {
margin-top: 5rem;
padding: 1rem;
}

footer h4 {
font-weight: 500;
margin-bottom: 2rem;
}

.footer-content {
border-bottom: 1px solid var(--primary-color);
padding-bottom: 2rem;

display: flex;
flex-direction: column;
gap: 1rem;
}

.footer-content__column > ul {
color: var(--grayish-color);
display: flex;
flex-direction: column;
gap: .75rem;
}

.footer-content__column > ul li {
font-weight: 600;
}

.footer-content__column:last-child ul li a{
display: flex;
justify-content: flex-start;
align-items: center;
gap: 1rem;
}

.footer-content__column:last-child ul li a img {
width: 18px;
}

.footer-socials {
padding-top: 1rem;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
gap: 2rem;
}

.footer-socials p {
display: flex;
gap: .75rem;
justify-content: center;
align-items: center;
}

.footer-socials__copyright span {
color: var(--primary-color);
font-size: 1.25rem;
font-weight: 600;
}

.footer-socials__icons {
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
}


@media screen and (min-width: 640px) {
/* CONSULTATION */
.consultation-wrapper{
    flex-direction: row;
}

/* BLOGPOST */
.blogpost-cards {
flex-direction: row;
justify-content: center;
align-items: center;

}

/* FOOTER */
.footer-content {
    flex-direction: row;
}

.footer-content > * {
    flex: 1;
}

.footer-socials {
    flex-direction: row;

}
}




